/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

 body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: lighter; 
}
li, ul, ol {
  font-size:larger;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */

#background-picture{
  background-image: url(../images/apple-pie.jpg);
  background-size: cover;
  width: 100%;
  height: 700px; 

}
#headerText{
  color:white;
  text-align: center;
  line-height: 400px;
  font-size: 300%;
}

.receipe-info{
  text-align: center;
  margin-top: 50px;
  
}

.ingredients{
  margin-left: 100px;
  margin-top: 90px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-bottom: 1px;
  
  
}

.directions{
  margin-left: 100px;
  margin-top: 90px;
}

.line-break{
  border-bottom: solid grey 1px;
  margin-left: 100px;
  margin-right: 100px;
}